@model ModelEF.Model.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin/QLDienthoai/Index">Danh sách sản phẩm</a></li>
                        <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                    </ol>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="card card-primary">
        <div class="card-header" style="background-color:#ffc107;color:#1f2d3d">
            <h4 class="card-title">Chi Tiết Sản Phẩm</h4>
        </div>
        <form role="form">
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IDDM, "Tên Danh Mục", htmlAttributes: new { @class = "control-label col-md-5" })
                            @Html.EditorFor(model => model.Category.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IDDM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, "Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-5" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UnitCost, "Giá Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-5" })
                            @Html.EditorFor(model => model.UnitCost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UnitCost, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, "Số Lượng", htmlAttributes: new { @class = "control-label col-md-5" })
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

                        </div>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "Mô tả", htmlAttributes: new { @class = "control-label col-md-5" })
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, "Ảnh", htmlAttributes: new { @class = "control-label col-md-5" })
                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-5" })
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

                        </div>
                    </div>


                </div>

            </div>
            <div class="card-footer">
                <div class="col-12">
                    &nbsp;&nbsp;<button type="submit" class="btn btn-default border-danger">@Html.ActionLink("Edit", "Edit", new { id = Model.ID, @class="" })</button>
                    <button class="btn alert-success border-bottom-blue">@Html.ActionLink("Quay Lại Danh Sách", "Index")</button>
                </div>
            </div>
        </form>
    </div>
}
